:root {
  --purple_50: #f4e6f8;
  --purple_100: #e2c0ee;
  --purple_200: #d097e4;
  --purple_300: #bd6dd8;
  --purple_400: #ae4dcf;
  --purple_500: #a02ec6;
  --purple_600: #902bbf;
  --purple_700: #7c27b7;
  --purple_800: #6923af;
  --purple_900: #441ca2;
  --purple_main: #a02ec6;
  --green_50: #ecfee8;
  --green_100: #d0fcc6;
  --green_200: #aefaa0;
  --green_300: #85f774;
  --green_400: #5af34c;
  --green_500: #0def15;
  --green_600: #00dd06;
  --green_700: #00c700;
  --green_800: #00b300;
  --green_900: #008f00;
  --green_main: #0def15;
  --marshmallows_50: #fde2ee;
  --marshmallows_100: #fab7d5;
  --marshmallows_200: #f886b8;
  --marshmallows_300: #f64e9b;
  --marshmallows_400: #f50083;
  --marshmallows_500: #f5006a;
  --marshmallows_600: #e40067;
  --marshmallows_700: #cd0062;
  --marshmallows_800: #b8005f;
  --marshmallows_900: #910059;

}

.App {
  padding: 10px;
  margin: 25px;
  border-radius: 5px;
  background-color: var(--marshmallows_100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header {
  padding: 25px;
  background-color: var(--purple_200);
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: var(--green_600);
}


.sidebar__link {
  color: var(--purple_500);
  border-radius: 5px;
  min-height: 25px;
  padding-left: 15px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:focus {
    color: var(--green_50);
    background-color: var(--green_800);
  }

  &:hover {
    color: var(--purple_50);
    background-color: var(--purple_600);
  }

  &:active {
    color: var(--marshmallows_50);
    background-color: var(--marshmallows_700);
  }
}

.section__header {
  font-size: 40px;
  font-weight: 600;
  color: var(--purple_700);
}

.section__descr {
  margin-bottom: 20px;
}

.input {
  color: #008f00;
}

.input__label {
  padding: 0;
}

.basicCosts,
.additionals,
.taxes {
  display: flex;
  justify-content: flex-start;
}

.totalCost {
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
}

.modal__save {
  position: relative;
}

.modal__content {
  padding: 20px;
  background-color: var(--green_100);
  border: 2px solid var(--green_700);
  border-radius: 5px;
  position: absolute;
  width: 300px;
  height: 150px;
  top: 25%;
  left: 25%;
}

.header__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: headerIconAnim 3s linear 0s 1 normal none;
}

@keyframes headerIconAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.formdata__box {
  display: flex;
  justify-content: space-between;
}

.formData {
  display: flex;
  gap: 100px;
  align-items: center;
}

.form_updateCalculation {
  display: flex;
  flex-direction: column;
}

.calculation_data {
  list-style: circle;
}


.formdata_results {
  display:flex;
  flex-direction: column;
}

.error_page {
  width: 100%;
  height: 100vh;
  background: #6923af;
  color: var(--wine_100);
  font-size: 50px;
}

.loader {
  animation: loaderAnim 4s linear infinite  0s normal none;
}

@keyframes loaderAnim {
	0%{
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	
	100% {
		transform: rotate(0deg);
	}
}