:root {
  --purple_50: #f4e6f8;
  --purple_100: #e2c0ee;
  --purple_200: #d097e4;
  --purple_300: #bd6dd8;
  --purple_400: #ae4dcf;
  --purple_500: #a02ec6;
  --purple_600: #902bbf;
  --purple_700: #7c27b7;
  --purple_800: #6923af;
  --purple_900: #441ca2;
  --purple_main: #a02ec6;
  --green_50: #ecfee8;
  --green_100: #d0fcc6;
  --green_200: #aefaa0;
  --green_300: #85f774;
  --green_400: #5af34c;
  --green_500: #0def15;
  --green_600: #00dd06;
  --green_700: #00c700;
  --green_800: #00b300;
  --green_900: #008f00;
  --green_main: #0def15;
  --marshmallows_50: #fde2ee;
  --marshmallows_100: #fab7d5;
  --marshmallows_200: #f886b8;
  --marshmallows_300: #f64e9b;
  --marshmallows_400: #f50083;
  --marshmallows_500: #f5006a;
  --marshmallows_600: #e40067;
  --marshmallows_700: #cd0062;
  --marshmallows_800: #b8005f;
  --marshmallows_900: #910059;
}

.App {
  padding: 20px;
  margin: 25px;
  border-radius: 10px;
  background-color: var(--marshmallows_50);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header {
  padding: 25px;
  background-color: var(--purple_200);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.header__name {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.header__icon,
.footer__icon,
.basic__icon {
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  padding: 20px;
  background-color: var(--green_600);
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.footer__contacts_icons {
  display: flex;
  gap: 15px;
}

.contact__icon {
  border: 1px solid transparent;
  border-radius: 30px;
  outline: 3px solid transparent;
  transition: outline 0.3s ease-in-out;

  &:is(:hover, :active) {
    outline: 3px solid var(--marshmallows_100);
  }

  &:focus {
    outline: 3px solid var(--marshmallows_600);

  }
}

.footer__additional {
  display: flex;
  gap: 10px;
}

.section__header {
  color: var(--purple_500);
  display: flex;
  align-items: center;
}

.form__auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  max-width: 300px;
}

.input {
  color: var(--green_600);
  max-width: 300px;
  overflow: scroll;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--green_600);
  background-color: var(--marshmallows_50);
  font-size: 20px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;

  &:is(:hover, :active) {
    border: 2px solid var(--purple_600);
    color: var(--purple_600);
  }

  &:focus {
    border: 2px solid var(--marshmallows_400);
    color: var(--marshmallows_400);
  }
}

.input__label {
  padding: 0;
  font-size: 20px;
}

.input__btn {
  color: var(--marshmallows_400);
  max-width: 100px;
  padding: 3px 10px;
  border-radius: 10px;
  border: 2px solid var(--marshmallows_400);
  background-color: var(--marshmallows_50);
  font-size: 20px;
  margin: 10px 0 0 auto;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;

  &:is(:hover, :active) {
    border: 2px solid var(--purple_600);
    color: var(--purple_600);
  }

  &:focus {
    border: 2px solid var(--green_600);
    color: var(--green_600);
  }
}

.totalCost {
  display: flex;
  justify-content: flex-end;
  color: var(--marshmallows_400);
}

.calculation__btns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modal__save {
  position: relative;
}

.modal__content {
  padding: 20px;
  background-color: var(--green_100);
  border: 2px solid var(--green_700);
  border-radius: 5px;
  position: absolute;
  width: 300px;
  height: 150px;
  top: 25%;
  left: 25%;
}

.header__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: headerIconAnim 3s linear 0s 1 normal none;
}

@keyframes headerIconAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


.formData {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 30px;
}

.form_updateCalculation {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.calculation_data {
  list-style: none;
  margin-top: 0;
}

.formdata_results {
  display: flex;
  flex-direction: column;
}

.error_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: loaderAnim 4s linear infinite 0s normal none;
}

@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.list {
  list-style: none;
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.list__item {
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items:center;
  justify-content: flex-start;
  width: 45%;
}

.list__item_link {
  border: 2px solid var(--green_600);
  background-color: var(--green_600);
  color: black;
  border-radius: 10px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 0 0 0 auto;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:is(:hover, :active) {
    border: 2px solid var(--purple_600);
    color: var(--purple_600);
    background-color: var(--marshmallows_50);
  }

  &:focus {
    border: 2px solid var(--marshmallows_400);
    color: var(--marshmallows_400);
    background-color: var(--marshmallows_50);
  }
}